<div id="cookie-banner">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-heading-m">Tell us whether you accept cookies</p>
        <p>We use
          <a href="">cookies to collect information</a>
          about how you use GOV.UK. We use this information to make the website work as well as possible and improve government services.</p>
        <a href="chs-cookies-accept" class="govuk-button govuk-!-margin-right-3">Accept all cookies</a>
        <a href="chs-cookies-preferences" class="govuk-button">Set cookie preferences</a>
      </div>
    </div>
  </div>
</div>