//Styles for SCRS

.homepage {
  a:link,
  a:visited {
    text-align: center;
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
    margin: 0 0.7em 0.7em 0;
    height: 7em;
    padding: 0.7em;
    text-decoration: none;
    border: 10px solid govuk-colour("blue");

    &:focus,
    &:hover {
      background-color: govuk-colour("yellow");
      border: 10px solid #govuk-colour("yellow");
      color: black;
    }
  }
}

#cookie-banner {
  background-color: govuk-colour("grey-3");
  padding: 1em 0 0;
}