//Styles for SCRS

.homepage {
  a:link,
  a:visited {
    text-align: center;
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
    margin: 0 0.7em 0.7em 0;
    height: 7em;
    padding: 0.7em;
    text-decoration: none;
    border: 10px solid govuk-colour("blue");

    &:focus,
    &:hover {
      background-color: govuk-colour("yellow");
      border: 10px solid #govuk-colour("yellow");
      color: black;
    }
  }
}

#cookie-banner {
  background-color: govuk-colour("grey-3");
  padding: 1em 0 0;
}

ul#navigation {
  border-bottom: 1px solid govuk-colour("grey-3");
  font-size: 0.9em;
  margin: 0 0 1em;
  padding: 0.8em 0;
  text-align: right;

  li {
    display: inline;
    padding: 0 0 0 1.5em;
    font-family: "nta", Arial;
    font-size: 16px;
  }
}