//Styles for SCRS

a.scrs-help-link:link,
a.scrs-help-link:visited {
  color: govuk-colour("grey-1");
}

.all-caps {
  text-transform: uppercase !important; // Ensuring company names are all uppercase to match CHS!
}

.secondary-button {
  background-color: govuk-colour("grey-3");
  color: govuk-colour("black") !important;
  box-shadow: 0 2px 0 govuk-colour("grey-2");

  &:focus,
  &:hover {
    background-color: govuk-colour("grey-2");
    color: govuk-colour("black");
    box-shadow: 0 2px 0 govuk-colour("grey-1");
  }
}