{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/scrs/index",
    serviceName: "Accounts eReminder",
    serviceUrl: "/scrs/index"
  }) }}
{% endblock %}

{% block pageTitle %}
  Accounts eReminder
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Accounts eReminder</h1>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/accounts-reminder/accounts-due">Your accounts are due</a>
            </li>
            <li>
              <a href="/accounts-reminder/accounts-due-2">Your accounts are due (2)</a>
            </li>
          </ul>
        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}