{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/scrs/index",
    serviceName: "Set up a limited company and register for Corporation Tax",
    serviceUrl: "/scrs/index"
  }) }}
{% endblock %}
{% block pageTitle %}
  What is the company's registered office address?
{% endblock %}

{% block content %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/scrs/address-choose" method="get" class="form">

        <h1 class="govuk-heading-l">What is the company's registered office address?</h1>

        {{ govukInsetText({
          text: "This can be a commercial or home address but it will appear on the public record and be available online."
        }) }}

        {{ govukInput({
          label: {
            text: "UK postcode"
          },
          id: "uk-postcode",
          name: "uk-postcode",
          classes: "govuk-!-width-one-quarter"
        }) }}

        <p>
          <a href="/scrs/address-enter" class="govuk-link">Enter address manually</a>
        </p>

        {{ govukInput({
          label: {
            text: "Property name or number"
          },
          hint: {
             text: "For example, The Mill, 116 or Flat 37a"
           },
          id: "property-name-number",
          name: "property-name-number",
          classes: "govuk-!-width-one-third"
        }) }}

        {{ govukButton({
            text: "Find address"
          }) }}

      </form>
      <p>
        <a href="javascript:void(0)" class="govuk-link govuk-body-s scrs-help-link">Get help with this page</a>
      </p>
    </div>
  </div>

{% endblock %}