{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/scrs/index",
    serviceName: "Set up a limited company and register for Corporation Tax",
    serviceUrl: "/scrs/index"
  }) }}
{% endblock %}
{% block pageTitle %}
  What is the home address for
  {{ data['person-name-for-testing'] }}?
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/scrs/receive-reminders" method="get" class="form">

        <h1 class="govuk-heading-l">
          What is the home address for
          {{ data['person-name-for-testing'] }}?</h1>

        <div class="govuk-inset-text">
          <p>Home address details won't appear on the public record.</p>
          <p>If this home address is the company's registered office address, it will appear on the public record.</p>
        </div>

        <p>Use a home address only, not a commercial address.</p>

        {{ govukRadios({
          idPrefix: "home-address",
          name: "home-address",
          fieldset: {
            legend: {
              text: "What is the home address for {name}?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "existing-home-address",
              text: "14, Crown Way, Cardiff, United Kingdom, CF14 3UZ"
            },
            {
              value: "different-home-address",
              text: "A different address"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
          }) }}
      </form>
      <p>
        <a href="javascript:void(0)" class="govuk-link govuk-body-s scrs-help-link">Get help with this page</a>
      </p>
    </div>
  </div>

{% endblock %}