{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/scrs/index",
    serviceName: "Set up a limited company and register for Corporation Tax",
    serviceUrl: "/scrs/index"
  }) }}
{% endblock %}

{% block pageTitle %}
  Streamlined company registration service
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Streamlined company registration service</h1>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/scrs/set-test-variables">Set test company name and person name</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            Shortcuts</h2>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/scrs/psc-halt-page">You're about to set up the ‘Persons with Significant Control’ over the company</a>
            </li>
            <li>
              <a href="/scrs/is-a-psc">Is {name} a person with significant control?</a>
            </li>
            <li>
              <a href="/scrs/distributed-a-share">Will {guarantor's name} be distributed a share of the company's profit?</a>
            </li>
            <li>
              <a href="/scrs/how-much-profit">How much of the company's profits will {guarantor's name} receive?</a>
            </li>
            <li>
              <a href="/scrs/percentage-voting-rights">What percentage of voting rights does {name} own?</a>
            </li>
            <li>
              <a href="/scrs/right-remove-appoint">Does {name} have the right to appoint or remove the majority of company directors?</a>
            </li>
            <li>
              <a href="/scrs/check-and-confirm">Check and confirm</a>
            </li>
          </ul>
        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}