{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/scrs/index",
    serviceName: "Set up a limited company and register for Corporation Tax",
    serviceUrl: "/scrs/index"
  }) }}
{% endblock %}
{% block pageTitle %}
  What percentage of voting rights does {name} own?
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="javascript:void(0)" method="get" class="form">

        {{ govukRadios({
    idPrefix: "percentage-voting-rights",
    name: "percentage-voting-rights",
    fieldset: {
      legend: {
        text: "What percentage of voting rights does {name} own?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "seventy-five",
        text: "75% or more of voting rights",
        checked: checked('percentage-voting-rights','seventy-five')
      },
      {
        value: "fifty",
        text: "More than 50%, but not more than 75% of voting rights",
        checked: checked('percentage-voting-rights','fifty')
      },
      {
        value: "twenty-five",
        text: "More than 25%, but not more than 50% of voting rights",
        checked: checked('percentage-voting-rights','twenty-five')
      },
      {
        value: "none",
        text: "None of the above",
        checked: checked('percentage-voting-rights','none')
      }
    ]
  }) }}
        {{ govukButton({
          text: "Save and continue"
          }) }}
      </form>
      <p>
        <a href="javascript:void(0)" class="govuk-link govuk-body-s scrs-help-link">Get help with this page</a>
      </p>
    </div>
  </div>

{% endblock %}