{% extends "layout.html" %}

{% block pageTitle %}
  Ad-hoc prototype work
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Ad-hoc prototype work</h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Prototypes</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/financial-sanctions-checker/index.html">Financial sanctions checker</a>
        </li>
        <li>
          <a href="/scrs/index.html">Streamlined Company Registration Service</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}