{% extends "layout-webfiling.html" %}
{% block pageTitle %}
  Cookies on Companies House WebFiling
{% endblock %}

{% block main %}

  <div id="container">

    <!-- FILE_START::header.tmpl -->
    <div class="headerLogo">
      <div class="container_16">
        <a href="/index" class="chLogo">
          <img src="/public/images/ch_gds_logo_white.png" alt="">
        </a>
      </div>
      <!--End of class="headerLogo"-->
    </div>
    <!--End of div id="header"-->
    <!-- FILE_END::header.tmpl -->

    <div class="container_16" id="mainContent">
      <div class="grid_12 cookie-consent">

        <h1>Cookies on Companies House WebFiling
        </h1>
        <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
        <p>We use cookies to store information about how you use Companies House WebFiling, such as the pages you visit.</p>

        <h2>Cookie settings</h2>
        <p>We use X types of cookie. You can choose which cookies you're happy for us to use.</p>

        <form action="" method="">

          <fieldset>
            <legend>Cookie name A here</legend>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit.</p>

            <input class="" id="cookie-name-A-yes" name="cookie-name-A" type="radio" value="yes">
            <label class="" for="cookie-name-A-yes">
              Yes
            </label>

            <input class="" id="cookie-name-A-no" name="cookie-name-A" type="radio" value="no">
            <label class="" for="cookie-name-A-no">
              No
            </label>

          </fieldset>

          <fieldset>
            <legend>Cookie name B here</legend>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit.</p>

            <input class="" id="cookie-name-B-yes" name="cookie-name-B" type="radio" value="yes">
            <label class="" for="cookie-name-B-yes">
              Yes
            </label>

            <input class="" id="cookie-name-B-no" name="cookie-name-B" type="radio" value="no">
            <label class="" for="cookie-name-B-no">
              No
            </label>

          </fieldset>
        </form>

        <h2>Strictly necessary cookies</h2>

        <p>

          These essential cookies do things like remember your progress through a form (for example FORM NAME GOES HERE).</p>

        <p>
          They always need to be on.
        </p>

        <p>
          <a href="">Find out more about cookies on Companies House WebFiling</a>
        </p>

        <button class="button positive regular" type="submit">Save changes</button>

      </div>
      <div class="clear"></div>
    </div>

    <!-- FILE_START::footer.tmpl -->
    <div id="footer">

      <div class="container_16">
        <span class="email">
          <a href="javascript:void(0)">Email Companies House</a>
        </span>
        <span class="telephone">Telephone +44 (0)303 1234 500
          <em>8:30am to 6pm (UK time) Monday to Friday</em>
        </span>
        <span class="help">
          <a href="javascript:void(0)">Help</a>
        </span>
        <!-- FILE_START::language.tmpl -->

        <a id="i18nLink" href="javascript:void(0)" class="language">Cymraeg</a>

        <!-- FILE_END::language.tmpl -->

      </div>

    </div>
    <!--End of div id="footer"-->
    <!-- FILE_START::tracker.tmpl -->

  </div>
{% endblock %}