{% extends "layout.html" %}

{% block pageTitle %}
  Ad-hoc prototype work
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds homepage">

      <h1 class="govuk-heading-xl">
        Ad-hoc prototype work</h1>{{releaseVersion | log }}

      <a href="/financial-sanctions-checker/index" class="govuk-grid-column-one-third govuk-caption-l">Financial sanctions checker</a>
      <a href="/scrs/index" class="govuk-grid-column-one-third govuk-caption-l">Streamlined company registration service</a>

    </div>
  </div>

{% endblock %}